.lg-avatar{
    width:125px;
    height:125px;  
    position:relative;  
    ;
}
.lg-avatar img{ 
    clip-path: circle(60px at center);    
}

.z-i100{
    z-index: 250;
    border: 1rem;
    
    
    
}

.visible{
    position: relative;
    width:20rem;
    height:10rem;
    visibility: visible;
    background-color: white;
}

.invisible{
    visibility: hidden;
}

.editIcon{
    font-size:2rem;
    color: brown;
    position:absolute;
    bottom:-5px;
    right:-5px;
   
}

.editInfo{position:relative;}
.p-info-icon{position:absolute;font-size:1.5rem;left:-.5rem;}

.editInfo .label{
    font-size:1.2rem;
    font-weight:bold;
    text-align:right;
    width:5rem;
    margin-right:1rem;

}
/* .profileinfo{font-size:.1rem;padding-top:.15rem;} */


video { 
    position: absolute;
  min-width: 100%;
  min-height: 100%;
  max-width: 150;
  max-height: 150;
  
  z-index: -100;
  display: block;

  /* background-size: cover;
  transition: 1s opacity; */
}

.bgvideo {
   display: block; 
}



.containerabout {
    width: 100;
}




.card-container {
    display: flex;
    grid-template-columns: repeat(1, 5fr);
    margin: 1rem;
    column-gap: 5rem;
    row-gap: 15rem;
    
}




.upload {
    background-color: rgba(255, 255, 0, 0.801);
    border: 1px;
}

.friendborder {
    border: 3px;
   
    
}
   
.home-btn {
    padding-left: 2%;
}

.hom {
    padding: 1.4%;
    font-size: large;
    text-decoration: none;
    
}
