.lg-avatar{
    width:150px;
    height:150px;  
    position:relative;  
}
.lg-avatar .btn-avatar{ 
    width:120px;
    background-color: transparent;
}
.lg-avatar .btn-avatar:hover{ 
    background-color: transparent;
}
.pro-avatar{ 
    object-fit: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.z-i100{
    z-index: 100;
    border:.25rem;
    border-style: dotted;
}

.visible{
    position: relative;
    width:20rem;
    height:10rem;
    visibility: visible;
    background-color: white;
}

.invisible{
    visibility: hidden;
}

.editIcon{
    font-size:2rem;
    color:brown;
    position:absolute;
    bottom:-5px;
    right:-5px;
}

.editInfo{position:relative;}
.p-info-icon{position:absolute;font-size:1.5rem;left:-.5rem;}

.editInfo .label{
    font-size:1.2rem;
    font-weight:bold;
    text-align:right;
    width:5rem;
    margin-right:1rem;

}
.profileinfo{font-size:1.1rem;padding-top:.15rem;}