.friendslist-placement{
    z-index:0;
    position:static;
    z-index:1
}

.fl-avatar img{   
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.friends{font-size: 1.4rem;}

.btn-add{font-size:1.8rem !important; color:rgb(15, 121, 24) !important;padding:0;margin:0}
.btn-add:hover{color:rgba(51, 255, 0, 0.973) !important;background-color:transparent !important;}

.btn-del{font-size:1.8rem !important; color:rgb(41, 24, 11) !important;padding:0;margin:0}
.btn-del:hover{color:red !important;background-color:transparent !important;}